{% load static %}


<html lang = 'en'>

<meta charset = "utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title> VINH'S DOMAIN </title>

{% include "base/js.html" %}
{% include "base/css.html" %}
{% include "base/navbar.html" %}


<body>
	<center><h1>WELCOME TO VINH'S DOMAIN!!!" </h1></center>
	<div class = 'container'>
	{% block content %}

	replace block of text here!

	{% endblock %}

<!-- ERASE THIS WHEN U HAVE ENOUGH CONTENT -->
	<br style = "line-height:620px">
<!-- <END -->

	{% include "slogan.html" %}



	<center>
		<a href = "/">HOME</a><br>
		<a href = "{% url 'login' %}">USER</a>
	</center>

</div>



	

</body>


</html>